@model Student


<form asp-action="Add" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age"/>
    </div>
    <div>
        <input type="submit" value="Complete" />
    </div>
</form>