@model Student


<form asp-action="Update" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" value="@Model.LastName" />
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" value="@Model.Name"/>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" value="@Model.Age" />
    </div>
    <div>
        <input type="submit" value="Complete" />
    </div>
</form>